
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="p-3 bg-body-secondary">
    <p>
        Valve è una società di software e tecnologia per l'intrattenimento fondata nel 1996 con sede a Bellevue, Washington. Il titolo di debutto dell'azienda, Half-Life, ha vinto oltre 50 premi come Gioco dell'anno ed è stato nominato "Miglior gioco per PC di sempre" nei numeri di novembre 1999, ottobre 2001 e aprile 2005 di PC Gamer, la rivista di giochi per PC più venduta al mondo.

        Il portafoglio di Valve comprende anche titoli dei pluripremiati franchise Counter-Strike, Day of Defeat, Team Fortress, Left 4 Dead, Portal e Dota. Questo portafoglio di titoli rappresenta oltre 100 milioni di unità vendute in tutto il mondo e comprende alcuni dei giochi online più giocati al mondo.

        Oltre a produrre i titoli di intrattenimento più venduti, Valve è uno sviluppatore di tecnologie all'avanguardia, tra cui il motore di gioco Source® e Steam®, una piattaforma leader per i contenuti digitali che offre migliaia di giochi a milioni di utenti in tutto il mondo. Nel 2015, Valve ha introdotto i dispositivi Steam Hardware, una collezione di dispositivi hardware progettati per estendere Steam oltre il desktop. Nel 2016 ha lanciato SteamVR, una piattaforma per la creazione e la distribuzione di prodotti VR all'avanguardia.

        Oggi Valve è composta da oltre 300 tra i migliori artisti, programmatori e scrittori del settore. Nella sua storia, l'azienda si è trasformata da "improbabile new entry" a leader del settore, producendo una serie di prodotti e tecnologie per PC vendutissimi e acclamati dalla critica.
    </p>
</div>
<div class="p-3">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/7_0SnbF_MhU" title="Steam Deck: All-in-one portable PC gaming." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>