
@{
    ViewBag.Title = "Contact";
}

<h2>
    Manda un'e-mail a Tizio.
</h2>
<div class="p-3 bg-body-secondary">
    <p>

        Hai una domanda per il servizio clienti o hai bisogno di supporto tecnico per un gioco di Steam? Visita l'Assistenza di Steam all'indirizzo LINKHELP, in modo tale da potere indirizzare il tuo problema all'ufficio di competenza.

        Gli impiegati di Valve non ti chiederanno mai informazioni personali o sul tuo account, né su Steam né altrove. Puoi tranquillamente ignorare chiunque sostenga di averti segnalato per errore, non riceverai alcun ban per questo. Se hai bisogno di assistenza con il tuo account di Steam, vai al LINKHELP.
    </p>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <p> Il tuo indirizzo e-mail </p>
            <input id="Text1" type="text" />
        </div>
        <div class="d-flex flex-column">
            <p> Oggetto </p>
            <input id="Text1" type="text" />
        </div>
    </div>
    <div class="p-10"">
        <p> Messaggio </p>
        <textarea id="TextArea1" rows="5" cols="50"></textarea>
    </div>
    <div class="p-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6046.110210373089!2d15.260981247501485!3d40.738812964733945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13396e2aeb7369b7%3A0x334292db72990718!2s84020%20Valva%20SA!5e0!3m2!1sit!2sit!4v1709024214023!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>