
@{
    ViewBag.Title = "paginaGioco";
}

@{
    if (ViewBag.idGioco == 0)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Silent Hill</h1>
            <p class="p-2 bg-body-secondary">
                Silent Hill (サイレントヒル?, Sairento Hiru) è un videogioco survival horror prodotto da Konami e sviluppato dal Team Silent, pubblicato nel 1999 come esclusiva della console Sony PlayStation, ed è il primo capitolo della serie omonima. Il gioco utilizza una visuale in terza persona con dei componenti di computer grafica 3D in tempo reale. A differenza dei precedenti giochi horror di sopravvivenza incentrati su persone esperte nel combattimento, il protagonista di Silent Hill è un uomo qualunque.

                Il gioco segue la storia di Harry Mason, protagonista, alla disperata ricerca della propria figlia adottiva per le strade della mostruosa città statunitense Silent Hill. Imbattendosi in un culto pagano il cui obiettivo è quello di far resuscitare un nuovo Dio, scoprirà le vere origini della bambina. Cinque sono i finali possibili nel gioco, a seconda delle azioni intraprese dal giocatore, vi è anche un finale segreto.
            </p>
            <p>Prezzo: </p>
            <p>Data di lancio: </p>
            <p>Piattaforme supportate: </p>
            <p>Lingue supoortate: </p>
            <p>Editore: </p>
            <p>Sviluppatore: </p>
            <p>Rating: </p>
            <img class="border border-5" style="width: 450px" src="https://preview.redd.it/ewvwhnpn30v91.png?width=1440&format=png&auto=webp&s=8e67b154eb3eaffca639fac1b8e56a572b1c1e35" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 1)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Red Dead Redemption 2</h1>
            <p class="p-2 bg-body-secondary">Red Dead Redemption 2 è un gioco d'azione e avventura del 2018 sviluppato e pubblicato da Rockstar Games. Il gioco è il terzo capitolo della serie Red Dead e un prequel del gioco Red Dead Redemption del 2010. La storia è ambientata in una rappresentazione romanzata degli Stati Uniti del 1899 e segue le gesta di Arthur Morgan, un fuorilegge e membro della banda Van der Linde, che deve affrontare il declino del selvaggio West cercando di sopravvivere contro le forze governative, le bande rivali e altri avversari. Il gioco è presentato attraverso prospettive in prima e terza persona e il giocatore può vagare liberamente nel suo mondo aperto interattivo. Gli elementi di gioco includono sparatorie, rapine, caccia, passeggiate a cavallo, interazione con personaggi non giocanti e mantenimento dell'onore del personaggio attraverso scelte e azioni morali. Un sistema di taglie regola la risposta delle forze dell'ordine e dei cacciatori di taglie ai crimini commessi dal giocatore.</p>
            <img class="border border-5" style="width: 450px" src="https://i.ebayimg.com/images/g/PS8AAOSwQLZdpuzB/s-l1200.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 2)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Hitman</h1>
            <p class="p-2 bg-body-secondary">Hitman: Codename 47 è un videogioco stealth sviluppato da IO Interactive e pubblicato da Eidos Interactive per Microsoft Windows nel novembre 2000. Nel gioco, i giocatori controllano l'Agente 47, un clone umano geneticamente potenziato e rigorosamente addestrato ai metodi di omicidio. Dopo essere fuggito dalla sua struttura di sperimentazione, 47 viene assunto dall'International Contract Agency (ICA), un'organizzazione globale di omicidi su commissione. Le sue missioni lo portano in Asia, Europa e Sud America per assassinare criminali ricchi e decadenti, che all'inizio sembrano non avere legami tra loro, ma che presto si rivelano avere tutti un ruolo in una cospirazione più grande. Il gameplay ruota attorno alla ricerca di modi per raggiungere ed eliminare furtivamente ogni bersaglio; a tal fine, i giocatori possono avvalersi di vari strumenti, tra cui travestimenti e armi soppresse. Tuttavia, alcuni livelli sono più incentrati sull'azione e non prevedono la possibilità di agire furtivamente, ma si svolgono come un tradizionale sparatutto in terza persona.</p>
            <img class="border border-5" style="width: 450px" src="https://static.posters.cz/image/1300/poster/hitman-prepare-i1640.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 3)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Stellaris</h1>
            <p class="p-2 bg-body-secondary">Stellaris è un videogioco di strategia 4X sviluppato da Paradox Development Studio e pubblicato da Paradox Interactive. In Stellaris, i giocatori assumono il controllo di una civiltà interstellare sul palcoscenico galattico e hanno il compito di esplorare, colonizzare e gestire la loro regione della galassia, incontrando altre civiltà con le quali possono poi impegnarsi in diplomazia, commercio o guerra. Gran parte del gioco consiste nel gestire eventi sia scriptati che emergenti, attraverso i quali nuovi imperi alterano l'equilibrio di potere, potenti crisi minacciano la galassia o catene di eventi raccontano la storia di imperi dimenticati.</p>
            <img class="border border-5" style="width: 450px" src="https://m.media-amazon.com/images/I/612ImGoSHRL._AC_UF1000,1000_QL80_.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 4)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Selene</h1>
            <p class="p-2 bg-body-secondary">Selene ~Apoptosis~ è una visual novel misteriosa e avvincente, creata da Viscum key e Nupu Neko Dev. In questa storia, una bella estranea appare alla tua porta. Sarai disposto a farla entrare? Tuffati in un incubo avvincente e decidi il destino di coloro che ti circondano. Questo thriller mistico è intriso di romanticismo oscuro e segreti ancora più oscuri. Combatti per coloro che ami, per la tua vita e per scoprire la verità. E, cosa più importante, mangia bene. 🌙🍽️</p>
            <img class="border border-5" style="width: 450px" src="https://i.vnstat.net/9627ed4931e78e128ff58dcf442ee026" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 5)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Cyberpunk 2077</h1>
            <p class="p-2 bg-body-secondary">Cyberpunk 2077 è un GDR d'azione a mondo aperto ambientato nella megalopoli Night City, nella quale diventi un mercenario cyberpunk coinvolto in una lotta per la sopravvivenza. Migliorato e con contenuti aggiuntivi gratuiti. Personalizza avatar e stile di gioco, accetta incarichi, fatti un nome e sblocca potenziamenti. Stringerai relazioni e prenderai decisioni che decideranno la tua storia e daranno forma al mondo attorno a te. Le leggende nascono qui. Quale sarà la tua?</p>
            <img class="border border-5" style="width: 450px" src="https://m.media-amazon.com/images/I/61BBvVKmgOL._AC_UF1000,1000_QL80_.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 6)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Life Is Strange</h1>
            <p class="p-2 bg-body-secondary">
                Life is Strange è un'avventura grafica a episodi premiata e apprezzata dalla critica in cui il giocatore può riavvolgere il tempo e cambiare passato, presente e futuro.
                Segui la storia di Max Caulfield, una studentessa di fotografia che, salvando la vita alla sua migliore amica Chloe Price, si accorge di avere lo straordinario potere di riavvolgere il tempo.
                Mentre indagano sull’improvvisa sparizione della loro compagna di scuola Rachel Amber, le due amiche si rendono conto che la cittadina di Arcadia Bay ha un lato oscuro. Max scoprirà presto fino a che punto cambiare il passato può compromettere il futuro.
            </p>
            <img class="border border-5" style="width: 450px" src="https://m.media-amazon.com/images/I/618QvN-khRL._AC_UF1000,1000_QL80_.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 7)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Escape From Tarkov</h1>
            <p class="p-2 bg-body-secondary">
                Escape from Tarkov è un gioco Hardcore realistico in prima persona, GDR/simulativo, con caratteristiche MMO e una trama da seguire.

                Ogni giorno che passa, la situazione nella regione di Norvinsk diventa sempre più complicata. La guerra a Tarkov ha scatenato una situazione di panico generale; la popolazione locale ha abbandonato la città e quelli che sono rimasti si accaniscono gli uni su gli altri. Accettando la nuova realtà di Tarkov i locali chiamati "Scav" si sono radunati in bande armate e hanno iniziato la ridivisione della città. Ad oggi Tarkov si presente separata da confini invisibili, contrallti dai diversi gruppi. Uomini armati avidi di guadagno faranno di tutto per farsi strada, compreso l'uccisione di civili e la guerriglia contro le due compagnie militari private.

                I giocatori vivranno in prima persona le esperienze di uno dei mercenari sopravvissuti allo stadio iniziale del conflitto a Tarkov. Dopo che avranno scelto da che parte stare: USEC o BEAR, dovranno riuscire a trovare la loro strada per uscire dalla città. La città di Tarkov è stata sigillata dall'esercito delle Nazioni Unite e da quello dell'esercito Russo, gli approvvigionamenti sono stati interrotti, le comunicazioni con i comandi operativi anche.
            </p>
            <img class="border border-5" style="width: 450px" src="https://i.redd.it/g09q3kxz5f461.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 8)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Detroit Become Human</h1>
            <p class="p-2 bg-body-secondary">
                Detroit, 2038. La tecnologia si è evoluta a tal punto che gli androidi umanoidi sono ovunque. Parlano, si muovono e si comportano come persone, ma sono solo macchine al servizio degli esseri umani.
                Controlla tre diversi androidi e osserva coi loro occhi un mondo a un passo dal caos... forse, il nostro stesso futuro. Saranno le tue decisioni ad alterare il corso degli eventi e a governare la storia attraverso le complesse ramificazioni della trama.
                Affronterai dilemmi morali e stabilirai chi vive e chi muore. Con migliaia di scelte e decine di finali possibili, come influirai sul futuro di Detroit e il destino dell'umanità?
            </p>
            <img class="border border-5" style="width: 450px" src="https://i.ebayimg.com/images/g/YocAAOSwOmZihmWz/s-l1600.jpg" alt="copertina_img" />
        </div>
    }

    if (ViewBag.idGioco == 9)
    {
        <div class="p-5 d-flex flex-column align-items-center row-gap-3 bg-body-tertiary">
            <h1>Baldur's Gate 3</h1>
            <p class="p-2 bg-body-secondary">
                Raduna il tuo gruppo e torna nei Reami Dimenticati per forgiare una storia di amicizia e tradimento, di sacrificio e sopravvivenza… e del fascino del potere assoluto.

                Misteriose abilità si stanno risvegliando dentro di te, attinte da un parassita mind flayer impiantato nel tuo cervello. Resisti e rivolgi l'oscurità contro sé stessa... oppure abbraccia la corruzione e diventa l'incarnazione del male.

                Dai creatori di Divinity: Original Sin 2 arriva un gioco di ruolo di nuova generazione, ambientato nel mondo di Dungeons & Dragons.

                From the creators of Divinity: Original Sin 2 comes a next-generation RPG, set in the world of Dungeons and Dragons.
            </p>
            <img class="border border-5" style="width: 450px" src="https://upload.wikimedia.org/wikipedia/en/1/12/Baldur%27s_Gate_3_cover_art.jpg" alt="copertina_img" />
        </div>
    }
}

